.panel {
  height: 250px;
  overflow: auto;
  margin-left: 50px;
  background-image: url("https://raw.githubusercontent.com/KChellis/flashcard-angular/master/src/assets/card.jpg");
  background-repeat: no-repeat;
}

.panel h2 {
  font-size: 30px;
  text-align: center;
  padding: 10px 0px;
  font-family: 'Shadows Into Light', cursive;
}

.panel p {
  font-size: 24px;
  line-height: 22px;
  font-family: 'Shadows Into Light', cursive;
}
